.page-album {
  min-height: 100vh;
}

.page-title {
  align-items: center;
  background-color: var(--color-secundary);
  border-radius: 10px;
  color: var(--input-color);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  width: 90%;
}

.songs-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: auto;
}
