.login-section {
  align-items: center;
  background: var(--bg-color);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-icon {
  width: 200px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.input-text {
  background-color: var(--color-primary);
  border-radius: 5px;
  border-style: none;
  color: var(--input-color);
  font-weight: 700;
  height: 1.5em;
  letter-spacing: 2px;
  padding: 0.5em;
  text-align: center;
  width: 320px;
}

.login-button {
  background-color: var(--button-bg);
  border-radius: 5px;
  color: var(--color-primary);
  font-weight: 700;
  height: 2.5em;
  margin: 1em 0;
  width: 330px;
}

.login-button:disabled {
  background-color: var(--button-disabled);
}

.login-button:not( [ disabled ] ):hover {
  background-color: var(--button-hover);
  transform: scale(1.03);
}

