.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.profile-section {
  align-items: center;
  background-color: var(--color-secundary);
  border-radius: 10px;
  color: var(--input-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5em;
  min-width: 350px;
  padding: 1.5em;
}

.profile-section h2 {
  font-size: 2em;
}

.profile-image {
  border-radius: 100px;
  width: 159px;
}

.edit-button {
  background-color: var(--button-bg);
  border-radius: 5px;
  color: var(--color-primary);
  font-weight: 700;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  width: 100px;
}

