body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(209, 233, 171);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-section {
  display: flex;
  flex-wrap: wrap;
}

.edit-profile {
  display: flex;
  flex-direction: column;
  height: 150px;
  align-items:center;
  
  justify-content: space-between;
  margin-top: 10px;
}

.header-section {
  background-color: rgba(129, 201, 129, 0.719);
  margin-top: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: rgba(59, 189, 59, 0.555);
}

.render-login-name {
  display: flex;
}